<main class="Contact">
  <section class="ContactSection">
    <section class="MainSectionOne">
      <h1>
        Vamos <span>decolar</span> seu negócio?
      </h1>

      <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt laboriosam dignissimos quod, placeat consectetur voluptas id, at sit aperiam ipsum eaque ullam repellendus incidunt eos, pariatur exercitationem mollitia ipsa ut?</p>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque sunt eligendi maiores numquam accusantium blanditiis quam tenetur optio, itaque vero! Fugiat, rerum? Quasi eligendi placeat quam excepturi, dignissimos iste ab.</p>
      </div>

      <div>
        <ul>
          <li>Escalar a estratégia de conteúdo da sua empresa</li>
          <li>Alavancar suas conversões online</li>
          <li>Alcançar seus resultados orgânicos e pagos</li>
          <li>Evoluir o planejamento e a execução da sua estratégia</li>
        </ul>
      </div>
    </section>

    <section class="MainSectionTwo">
      <form>
        <div class="mb-3">
          <label for="inputName" class="form-label">Nome</label>
          <input type="text" class="form-control" id="inputName" />
        </div>

        <div class="mb-3">
          <label for="InputEmail" class="form-label">E-mail</label>
          <input
            type="email"
            class="form-control"
            id="InputEmail"
            aria-describedby="emailHelp"
          />
        </div>

        <div class="mb-3">
          <label for="inputTelephoneNumber" class="form-label">Número de Telefone</label>
          <input type="tel" class="form-control" id="inputTelephoneNumber" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </section>
  </section>
</main>
