<section class="FirstContent">
  <nav>
    <div class="FirstContentDivLogo">
      <img src="Logo Avoante.svg" class="Logo" alt="">
    </div>
  
    <ul>
      <li><a href="#">Teste 1</a></li>
      <li><a href="#">Teste 2</a></li>
      <li><a href="#">Teste 3</a></li>
    </ul>

    <div class="FirstContentDivWhatsappButton">
      <a href="#" class="WhatsappButton">Whatsapp</a>
    </div>
  </nav>

  <div class="MainDescriptionContent">
    <div class="MainTitleContent">
      <h1>Aumente suas vendas com estratégias de <span>marketing digital</span></h1>
      <p>A <span>Avoante Digital</span> desenvolve estratégias completamente personalizadas para atingir os objetivos da sua empresa, sempre fundamentadas em tendências e análises de mercado.</p>
    </div>

    <div>
      <img src="Foguete.svg" alt="">
    </div>
  </div>
</section>